.container {
    width: 100%;
    margin: 20px auto;
    z-index: 3;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    font-size: 35px;
    font-weight: 700;
    z-index: 3;
    background: transparent;
}

.date {
    color: white;
    font-size: 20px;
    font-weight: 500;
    background: transparent;
}

@media (max-width: 500px) {
    .container {
        flex-direction: column;
    }

    .date {
        font-size: 12px;
    }
}